@import "fonts.css";
@import "commons.css";

/* Window */

html, body {
    width:  1000px;
    height: 800px;
}

#encounterCreator {
    position:   relative;
    width:      1000px;
    height:     800px;

    background: #FFFFFF;
    box-sizing: border-box;
}

/* Header (party summary) */

#partyDataBox {
    position: absolute;
    width:    940px;
    height:   100px;
    left:     30px;
    top:      15px;
}

#partySummary {
    position: absolute;
    width:    213px;
    height:   84px;
    left:     17px;
    top:      8px;
}

#partySummary .blockHeader {
    position:    absolute;
    width:       127px;
    height:      31px;
    left:        17px;
    top:         8px;

    font-family: "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   18px;
    line-height: 24px;
    display:     flex;

    color:       #000000;
}

#partySummary .block {
    position:    absolute;
    width:       213px;
    height:      53px;
    left:        17px;
    top:         39px;

    font-family: "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   12px;
    line-height: 16px;
    text-align:  left;

    color:       #000000;
}

#thresholdsBlock {
    position: absolute;
    width:    480px;
    height:   32px;
    left:     250px;
    top:      34px;
}

#thresholdEasy {
    position: absolute;
    width:    120px;
    height:   32px;
    left:     0;
}

#thresholdMedium {
    position: absolute;
    width:    120px;
    height:   32px;
    left:     120px;
}

#thresholdHard {
    position: absolute;
    width:    120px;
    height:   32px;
    left:     240px;
}

#thresholdDeadly {
    position: absolute;
    width:    120px;
    height:   32px;
    left:     360px;
}

.thresholdName {
    width:       120px;
    display:     block;

    font-family: "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   14px;
    line-height: 18px;
    text-align:  center;
}

#thresholdEasy .thresholdName {
    color: #006BA7;
}

#thresholdMedium .thresholdName {
    color: #00A71B;
}

#thresholdHard .thresholdName {
    color: #E48900;
}

#thresholdDeadly .thresholdName {
    color: #DA0000;
}

.thresholdValue {
    display:     block;
    width:       120px;

    font-family: "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   14px;
    line-height: 18px;
    text-align:  center;
}

/* Content (monsters form and results) */
#content {
    position: absolute;
    width:    940px;
    height:   515px;
    left:     30px;
    top:      130px;
}

#monstersForm {
    position: absolute;
    width:    400px;
    height:   515px;
    left:     0;
    top:      0;
}

#monstersForm .blockHeader {
    position:    absolute;
    width:       280px;
    height:      31px;
    left:        10px;
    top:         10px;

    font-family: "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 21px;
    display:     flex;

    color:       #000000;
}

#monstersForm .blockFooter {
    position: absolute;
    width:    160px;
    height:   25px;
    left:     120px;
    top:      480px;
}

#monstersForm .addMonster.btn {
    width:  160px;
    height: 25px;
}

.monsterInputContainer {
    position:      relative;
    width:         340px;
    height:        20px;
    left:          10px;
    top:           44px;
    margin-bottom: 20px;

    font-family:   "Roboto Slab", "Roboto Light", "Droid Sans", sans-serif;
    font-style:    normal;
    font-weight:   300;
    font-size:     12px;
    line-height:   16px;
}

.monsterAmount {
    width:        17px;
    height:       20px;
    margin-left:  2px;
    margin-right: 2px;

    text-align:   center;
}

.monsterName {
    width:        159px;
    height:       20px;
    margin-left:  2px;
    margin-right: 2px;
}

.monsterCR {
    width:        17px;
    height:       20px;
    margin-left:  2px;
    margin-right: 2px;

    text-align:   center;
}

/* Fixme: added fields are falling under the button and dale */

/* Common */

.dataBold {
    font-weight: bold;
}
